    @import "../_snowpack/pkg/tailwindcss/dist/base.css";
    @import "../_snowpack/pkg/tailwindcss/dist/components.css";
    @import "../_snowpack/pkg/tailwindcss/dist/utilities.css";
    body {
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background: linear-gradient(to right, #b5bdc8 0%, #828c95 34%, #28343b 53%);
    }
    
    .encabezado h3 {
        font-size: 2.3rem;
        color: whitesmoke;
    }
    
    .encabezado p {
        color: wheat;
        margin-bottom: 25px;
    }
    
    .images {
        height: 320px;
        background: (ellipse at center, #d4e4ef 0%, #86aecc 100%);
        border-radius: 30px;
    }
    
    .images img {
        border-radius: 30px;
    }
    
    .button {
        border: solid 1px white;
        border-radius: 35px;
        background-color: whitesmoke;
        box-shadow: #255a79 3px 4px;
        font-size: 16px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .buttonClear {
        border: solid 1px white;
        border-radius: 35px;
        background-color: whitesmoke;
        box-shadow: #255a79 3px 4px;
        font-size: 16px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }